@import "./../../styles/_colors"

@mixin setDimension($dimension)
  width: $dimension 
  height: $dimension 

%avatar
  border-radius: 50%
  border: solid white 3px

.sidenav
  float: left
  width: 6rem
  height: 100vh

  &__logo
    display: block;
    margin: 1rem auto
    @include setDimension(50px)
 
  &__icon
    font-size: 1.3rem

  &__avatar-container
    margin-bottom: 10vh
  
  &__avatar-button
    background-color: Transparent
    background-repeat: no-repeat
    border: none
    cursor: pointer
    overflow: hidden
    outline: none
    display: block
    margin: 0 auto

  &__avatar
    @extend %avatar
    @include setDimension(65px)

  &__link
    margin: 0.5rem
    border-radius: 10%
    display: block;
    padding: 0.5rem 1rem

  &__link--active
    background: $primary
    
  &__link--inactive
    background: #455a64
    opacity: 0.5;

.topnav
  padding: 0 1rem

  &__logo
    @include setDimension(50px)

  &__avatar
    @extend %avatar
    @include setDimension(50px)
    margin-right: 1.5rem

  &__link
    display: block;
    padding: 0.5rem 1rem;
    color: rgba(255, 255, 255, 0.55)
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

.accountmenu
  &__title
    background: white
    &-avatar
      @extend %avatar
      @include setDimension(35px)
    &-text
      margin-left: 0.5rem
      font-weight: bold
  &__content
    div
      margin: 0.75rem 1.25rem
      font-weight: bold
      font-size: 1rem
      span:hover
        border-bottom: solid green 0.15rem

.popover .arrow
  background: transparent !important;
  width: 0; 
  height: 0; 
  border-right: 7px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  left: -7px;
